<div class="list-group mx-auto justify-content-center">
    <a class="nav-link list-group-item list-group-item-action list-group-item-dark" href="https://redux.js.org/">
        <span>
            <img class="img-icon responsive" src="https://upload.wikimedia.org/wikipedia/commons/4/49/Redux.png"
                alt="Redux-logo">
        </span>
    </a>
    <a class="nav-link list-group-item list-group-item-action list-group-item-light" href="https://reactjs.org/">
        <span>
            <img class="img-icon responsive" src="https://pbs.twimg.com/profile_images/446356636710363136/OYIaJ1KK.png"
                alt="React-logo">
        </span>
    </a>
    <a class="nav-link list-group-item list-group-item-action list-group-item-dark"
        href="https://go.java/index.html?intcmp=gojava-banner-java-com">
        <span>
            <img class="img-icon responsive"
                src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png"
                alt="Java-logo">
        </span>
    </a>
    <a class="nav-link list-group-item list-group-item-action list-group-item-light" href="https://www.javascript.com/">
        <span>
            <img class="img-icon responsive"
                src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="JavaScript-logo">
        </span>
    </a>
    <a class="nav-link list-group-item list-group-item-action list-group-item-dark"
        href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">
        <span>
            <img class="img-icon responsive"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png"
                alt="HTML5-logo">
        </span>
    </a>
    <a class="nav-link list-group-item list-group-item-action list-group-item-light" href="https://angular.io/">
        <span>
            <img class="img-icon responsive"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
                alt="Angular-logo">
        </span>
    </a>
</div>