<div class="container">
    <div class="row">
        <div class="card mx-auto">
            <div class="card-body">
                <img style="max-width:400px; max-height: 350px;" class="card-img-top responsive" src="../../assets/portfolio-pfp.jpg"
                    alt="Card image">
                <div>
                    <br>
                    <h4 class="card-title">Walter Hoang</h4>
                    <p class="card-text">whoang@catalyte.io</p>
                    <a class="nav-link" href="https://www.linkedin.com/in/walter-hoang-596a33180/">View LinkedIn Profile</a>
                    <a class="nav-link" href="https://github.com/WalterHoang">View Github Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>