<ul class="list-group">
    <li class="list-group-item">
        <span>
            <a href="https://github.com/WalterHoang/E-Commerce">E-Commerce Project</a>
        </span>
        <br>
        <span>
            <ul>
                <li>
                    Practice project to develop a customer facing application that allowed them
                    to browse sports products.
                </li>
                <li>Worked with a team of similarly skilled developers.</li>
                <li>Provided full stack contribution on products.</li>
                <li>Tech Stack:
                    <ul>
                        <li>Postgres</li>
                        <li>Java</li>
                        <li>React</li>
                        <li>Redux</li>
                        <li>Sagas</li>
                    </ul>
                </li>
            </ul>
        </span>
    </li>
    <li class="list-group-item">
        <span>
            <a href="https://github.com/WalterHoang/HealthProject">Health Project</a>
        </span>
        <br>
        <span>
            <ul>
                <li>
                    Practice Project to demonstrate basic competency in full stack development
                    by producing a basic functional model of a patient and encounter directory.
                </li>
                <li>Completed with minimal assistance.</li>
                <li>Tech Stack:
                    <ul>
                        <li>Postgres</li>
                        <li>Java</li>
                        <li>React</li>
                        <li>Redux</li>
                        <li>Sagas</li>
                    </ul>
                </li>
            </ul>
        </span>
    </li>
</ul>