<div class="container">
    <h2 class="about-me">About Me</h2>
    <p>Junior full-stack software developer with a formal education and strong desire to constantly improve myself
        regarding consultative and technical skills.
        I enjoy collaborative work to ensure that I always learn something new.
    </p>
    <h2>Skills</h2>
    <button type="button" class="btn btn-info" (click)="collapsed = !collapsed">
        Hide/Show List
    </button>
    <br>
    <br>
    <div class="container scrollable collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
        <app-skill-list></app-skill-list>
    </div>
</div>